#menu{
    background-color: #000;
}

#menu ul{
list-style: none;
margin:0;
padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color:white;
    display: block;
    padding: 20px 60px;

    text-decoration: none;
}
#menu ul li a:hover{
    background-color: #42b881;
}

.item-r{
    float: right;
    
}

/*titlulo*/
.titulo-web{
    text-align:center;
    color:wheat;
    background-color: salmon;
    padding: 20px;
    margin: auto;
}